body{
    background-color: plum;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 250px;
   
    background:rgba(137, 43, 226, 0.295);
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.delete{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}
.container .btn{
    height: 40px;
    width: 100px;
    position: relative;
    left: 65%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    border: none;
}
.btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.container a,.container1 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 5px ;
   
}

@media (max-width:700px) {
    .container{
        width: 360px;
        height: 200px;
        
    }
    .delete{
        font-size: 18px;
        margin-top: 40px;
    }
    .container .btn{
        width: 70px;
        height: 30px;
        left: 60%;
    }
}
@media (max-width:420px) {
    .container{
        width: 290px;
        height: 200px;

    }
    .delete{
        font-size: 16px;
    }
}

/* taskform styling */
.container1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 500px;
    width: 600px;
    background-color: rgba(137, 43, 226, 0.295);
    text-align: center;
    border-radius: 20px;
}
.container1 label {
    display: block;
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
    
   
}

.container1 a{
    position: absolute;
    top: 10px;
    left: 10px;
}
.container1 input{
    height: 25px;
    width: 250px;
}
.container1 .form-btn{
    height: 40px;
    width: 150px;
    cursor: pointer;
    background-color: white;
    border: none;
}
.container1 .form-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.container1 h3{
    color: white;
    font-size: 23px;
    border-bottom: solid plum;
    padding-bottom: 5px;
}
textarea{
    border-radius: 5px;
}
input{
    border-radius: 5px;
}
@media (max-width:700px) {
    .container1{
        width: 450px;
        height: 400px;
        
    }
    .container1 label{
        font-size: 18px;
        
    }
    .container1 input{
        height: 20px;
        width: 150px;
    }
    .container1 .form-btn{
        height: 30px;
        width: 100px;
       
    }
    textarea{
        height: 80px;
        width: 250px;
    }
   
}
@media (max-width:420px) {
    .container1{
        width: 300px;
        height: 370px;

    }
    textarea{
        height: 60px;
        width: 200px;
    }
    .container1 h3{
        font-size: 18px;
    }
    .container1 a{
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 15px;
    }
}
