body {
  font-family: Verdana, Geneva, Tahoma, sans-serifgit;
  overflow-x: hidden;
  background: plum;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container,
.container1 {
  height: 430px;
  width: 400px;
  background-color: rgba(137, 43, 226, 0.295);
  border: 0.5px solid plum;
}
.container1 {
  height: 490px;
}
input {
  width: 350px;
  height: 40px;
  margin: 0px 20px;
  margin-top: 5px;
  font-size: 19px;
}
label {
  font-size: 23px;
  margin: 0px 20px;
}
h2 {
  /* margin: 20px 20px; */
  border-bottom: 1px solid plum;
  text-align: center;
  font-size: 30px;
}
.form-control li{
  font-size: 10px;
  list-style: none;
  position: relative;
  bottom: 10px;
  right: 5px;
}
.btn,
.btn1 {
  height: 40px;
  width: 100px;
  position: relative;
  left: 64%;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  border: none;
}
.btn:hover,
.btn1:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.footer {
  font-size: 20px;
  padding-top: 3px;

  text-align: center;
  border-top: 1px solid plum;
  /* padding-bottom: 5px; */
}
.footer a {
  color: white;
  text-decoration: none;
  margin-left: 4px;
}
.btn1 {
  margin-top: 7px;
}
.register_form input {
  margin-bottom: 14px;
}
.info{
  height: max-content;
  width: max-content;
  padding: 5px 22px;
  border: 1px solid plum;
  background-color: rgba(137, 43, 226, 0.295);
  margin-bottom: 5px;
}
.info p{
  font-size: 10px;
}
@media (max-width: 700px) {
  .container,
  .container1 {
    width: 300px;
  }
  .container{
    height: 400px;
  }
  input {
    width: 250px;

    font-size: 15px;
  }
  .btn,
  .btn1 {
    left: 58%;
    width: 80px;
  }
  label {
    font-size: 18px;
  }
  .footer {
    font-size: 16px;
    padding-top: 8px;
  }
  .info{
    padding: 5px 6px;
  }
 
  .info p{
    font-size: 8px;
  }

}
